.form{
  h1{
    margin: 20px 0;
  }
  h2{
    font-size: 1rem !important;
    font-weight: 400;
    color: $grey-normal;
    margin-bottom: 10px;
  }
  &__buttons{
    background-color: $color-light;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__item{
    margin-top: 20px;
    width: 100%;
  }
  &__footer{
    display: flex;
    justify-content: space-between;
    a{
      font-size: 0.875rem;
      margin-top: 20px;
      color: $grey-dark;
      opacity: .6;
      transition: .3s;
      &:hover{
        opacity: 1;
      }
    }
  }
  [type="submit"]{
    width: 100%;
    font-size: 1.25rem !important;
    margin-top: 20px;
    padding: 1rem 2rem;
  }
  .checkbox{
    display: flex;
    align-items: center;
    font-size: 1rem;
    label{
      margin-bottom: 0;
    }
    a{
      margin-top: 0;
    }
    [type="checkbox"]{
      min-width: unset;
      width: 1rem;
      height: 1rem;
      margin-right: 10px;
    }
    &:hover{
      cursor: pointer;
    }
  }
}

.login{
  &__form{
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.05);
    background-color: $white;
    padding: 40px;
    width: 100%;
    max-width: 600px;
    align-items: flex-start;

    >.flex-column{
      display: none;
    }
    &[data-form="login"]{
      #form-login{
        display: flex;
        width: 100%;
      }
      .btn-login{
       @extend .btn-pri;
      }
      .btn-cadastro{
        @extend .btn-sec;
       }
    }
    &[data-form="registrar"]{
      #form-cadastro{
        display: flex;
      }
      .btn-login{
        @extend .btn-sec;
      }
      .btn-cadastro{
         @extend .btn-pri;
        }
    }
  }
}
