.container {
	max-width: $container-xl;
	margin: 0 auto;
	border: 2px solid red;
}

.secao{
  padding: 120px 40px;
}

.ul {
	list-style: none;
}

.border {
	border-radius: 8px;
}

.bg{
  background-color: $background;
}
