.container {
	max-width: $container-xl;
	margin: 0 auto;
	border: 2px solid red;
  @include responsive(m){
    border: 2px solid greenyellow;
  }
  @include responsive(sm){
    border: 2px solid blue;
  }
  @include responsive(s){
    border: 2px solid tomato;
  }
}

.secao{
  padding: 120px 40px;
}

.ul {
	list-style: none;
}

.border {
	border-radius: 8px;
}

.bg{
  background-color: $background;
}
