* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	font-family: "Poppins", sans-serif;
	color: inherit;
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
	object-fit: cover;
}

.container {
	max-width: $container-xl;
	margin: 0 auto;
	padding: 0px 20px;
	border: 2px solid red;
}

.ul {
	list-style: none;
}

.border {
	border-radius: 8px;
}

//   GRID
.grid-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	gap: 40px;
	@include responsive(s) {
		grid-template-columns: 1fr;
	}
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	@include responsive(s) {
		grid-template-columns: 1fr;
		gap: 40px 0 ;
	}
}

.grid-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
	@include responsive(s) {
		grid-template-columns: 1fr;
		gap: 20px;
	}
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.space-between {
	display: flex;
	justify-content: space-between;
}
