button{
    cursor: pointer;
}

.btn {
font-size: 1.25rem !important;
line-height: 120% !important;
font-weight: 700;
text-decoration: none;
}

.link{
position: relative;
&::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f0f;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
&:hover {
    &::before {
    transform-origin: left;
    transform: scaleX(1);
    }
}
}

